body.homepage { background-color: #FFC90E; }
body.airdrop-signup { background: url('images/N-clouds.jpg') no-repeat center center fixed; background-size: cover; }
.title { text-align: center; font-size: 20px; font-weight: bold; }
.milestones img { width: 50px; }
